body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0.3em;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.p_secondary {
    color: #75818e;
    font-size: small;
}

h1 > a {
    color: #667890;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #5887ca;
}

/* Where the application's card appear */
.applications-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 600px;
    overflow-y: scroll;
}

.application-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #bdbcbc;
    border-radius: 10px;
}

.application-card-leading-content {
    display: flex; 
    flex-direction: column; 
    max-width: 600px;
}

.application-card-trailing-content {
    display: flex; 
    flex-direction: column; 
    max-width: 200px;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.body-filter-section {
    width: 200px;
}